@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes expandWidth {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
