$bright-blue-grey: #e2f0f9;
$neutral: #efefef;
$white: #fff;
$border-color: #d7d7d7;

$warm-grey-light: #e8dfe0;
$warm-grey: #d8c8ca;
$warm-grey-dark: #5d5c61;

$background-pink: #f8f0ed;

$night-dark: #262626;
$night: #505050;
$night-light: #444444;

$sea-dark: #268194;
$sea-darker: #39a5bc;
$sea: #47c9e5;

$sky-dark: #6b92ea;
$sky-darker: #98b3f0;
$sky: #aec3f3;
$sky-lighter: #c4d3f6;

// Font weight
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// Font size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-mobile-l: 20px;
$font-size-l: 26px;
$font-size-xl: 42px;
$font-size-xxl: 56px;

// Breakpooints for screen sizes
$breakpoint-mobile: 480px;
$breakpoint-ipad: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

// Line height
$line-height-paragraph: 30px;

// Height
$top-banner-height: 600px;
$section-banner-height: 600px;

// Width
$base-border-width: 1px;

// Border
$base-border: $base-border-width solid $border-color;

// Padding
$gutter-desktop: 30px;
$gutter-mobile: 15px;
$padding-section-desktop: 60px 80px;
$padding-section-mobile: 30px;

// Box shadow
$base-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);

// Border radius
$base-border-radius: 4px;
