@import '../../css/variables.scss';
@import '../../css/mixin.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
}
.imageWrapper {
  position: relative;
  opacity: 0;
}
.image {
  @include nextJSImage();
}
@media screen and (min-width: $breakpoint-ipad) {
  .container {
    height: 400px;
  }
  .tallContainer {
    height: 600px;
  }
}
@media screen and (max-width: $breakpoint-ipad) {
  .imageWrapper {
    width: 50% !important;
  }
  .oneImage {
    width: 100% !important;
    background-position: center right -80px;
  }
}
