@import '../../css/variables.scss';
@import '../../css/keyframes.scss';

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 50px $gutter-mobile;
  background-color: $neutral;
}
.whiteContainer {
  background-color: $white;
}
.noPaddingContainer {
  padding-bottom: 0;
}
.h2 {
  padding-top: 0;
}
.h3 {
  font-weight: $font-weight-light;
  padding-bottom: 0;
  letter-spacing: 1px;
  word-spacing: 2px;
  max-width: 1200px;
}
