@import '../../css/variables.scss';

.container {
  position: relative;
  align-items: center;
  height: 100%;
}
.h3 {
  text-transform: uppercase;
}
.textWrapper {
  text-align: justify;
  margin-top: $gutter-mobile;
}
.paragraph {
  font-size: $font-size-m;
  line-height: $line-height-paragraph;
}
.imageWrapper {
  position: relative;
  height: 340px;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
}
.portrait {
  position: absolute;
  background: url('/img/blue.JPG') no-repeat top center;
  background-size: cover;
  height: 300px;
  width: 240px;
  left: 0;
  bottom: 0;
  border: solid white 12px;
}
.background {
  position: absolute;
  background: url('/img/white-bridge.JPG') no-repeat top center;
  background-size: cover;
  height: 300px;
  width: 240px;
  top: 0;
  right: 0;
}
@media screen and (min-width: $breakpoint-laptop) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .imageWrapper {
    height: 500px;
    flex-basis: 430px;
    margin-left: 120px;
  }
  .portrait {
    height: 400px;
    width: 360px;
  }
  .background {
    height: 400px;
    width: 360px;
  }
}
