@import '../../css/mixin.scss';
@import '../../css/keyframes.scss';
@import '../../css/variables.scss';
.flexWrapper {
  width: 100%;
}
.item {
  cursor: grab;
}
.image {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.fadeInAnimation {
  animation: fadein 0.8s;
}
.content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}
.swipeableViewsStyle {
  width: 100%;
}
.passionTitle {
  font-weight: $font-weight-regular;
  padding: 20px;
  text-align: center;
}
.title {
  text-transform: uppercase;
}
.paragraph {
  font-weight: $font-weight-light;
}
.arrows {
  position: absolute;
  display: flex;
  top: 92px;
  left: 0;
  right: 0;
}
.arrow {
  cursor: pointer;
}
.arrowLeft {
  @include arrowLeft($sky);
}
.arrowRight {
  @include arrowRight($sky);
  margin-left: auto;
}
.arrowDisabled {
  border-color: $border-color;
  cursor: not-allowed;
}
.paragraph {
  font-size: $font-size-m;
  line-height: 30px;
  text-align: justify;
  margin-top: 0;
}

@media screen and (min-width: $breakpoint-laptop) {
  .flexWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $section-banner-height;
  }
  .image {
    height: 80%;
    width: 50%;
  }
  .content {
    flex-grow: 1;
    align-items: flex-start;
    position: relative;
    padding-left: 60px;
    box-sizing: border-box;
    width: 60%;
  }
  .passionTitle {
    text-align: left;
    padding: 20px 0;
  }
  .arrows {
    position: static;
  }
  .arrowRight {
    margin-left: 10px;
  }
}
