@import '../../css/mixin.scss';
@import '../../css/keyframes.scss';
@import '../../css/variables.scss';

.flexWrapper {
  width: 100%;
}
.item {
  cursor: grab;
}
.slides {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.imagePile {
  position: relative;
  width: 90%;
  height: 90%;
}
.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.image {
  @include nextJSImage();
}
.content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
}
.swipeableViewsStyle {
  width: 100%;
}
.passionTitle {
  font-weight: $font-weight-regular;
  padding: 20px;
  text-align: center;
}
.title {
  text-transform: uppercase;
}
.paragraph {
  font-weight: $font-weight-light;
}
.arrows {
  position: absolute;
  display: flex;
  top: 86px;
  left: 0;
  right: 0;
}
.arrowWrapper {
  cursor: pointer;
  padding: 10px;
}
.arrowRightWrapper {
  margin-left: auto;
}
.arrowLeft {
  @include arrowLeft($sky);
}
.arrowRight {
  @include arrowRight($sky);
}
.arrowRightAttention {
  animation: arrowRightAttention 0.6s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
}
.arrowDisabled {
  border-color: $border-color;
  cursor: not-allowed;
}
.paragraph {
  font-size: $font-size-m;
  line-height: 30px;
  text-align: justify;
  margin-top: 0;
}

@media screen and (min-width: $breakpoint-ipad) {
  .slides {
    height: 400px;
  }
  .imagePile {
    height: 80%;
    width: 75%;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .flexWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $section-banner-height;
  }
  .slides {
    height: 100%;
    width: 50%;
  }
  .imagePile {
    height: 70%;
    width: 80%;
  }
  .content {
    flex-grow: 1;
    align-items: flex-start;
    position: relative;
    padding-left: 60px;
    box-sizing: border-box;
    width: 60%;
  }
  .passionTitle {
    text-align: left;
    padding: 20px 0;
  }
  .arrowWrapper {
    padding: 6px;
  }
  .arrows {
    position: static;
  }
  .arrowRightWrapper {
    margin-left: 10px;
  }
}
