@import '../../css/variables.scss';

.heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: $gutter-desktop;
}
.subtitle {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.bullet {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-right: 10px;
}
.advancedBullet {
  background-color: $sky-dark;
}
.intermediateBullet {
  background-color: $sky-darker;
}
.fundamentalBullet {
  background-color: $sky-lighter;
}
.h3 {
  white-space: nowrap;
}
.flexWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.progressBars {
  margin: auto;
  box-sizing: border-box;
  width: 80%;
}
.secondProgressBars {
  margin: $gutter-mobile auto 60px auto;
}
@media screen and (min-width: $breakpoint-ipad) {
  .flexWrapper {
    flex-flow: row;
  }
  .h3 {
    padding: 0;
    font-weight: $font-weight-light;
  }
  .progressBars {
    width: 50%;
    &:first-child {
      margin-right: 40px;
    }
    &:last-child {
      margin-left: 40px;
    }
  }
  .secondProgressBars {
    margin: 0 auto;
  }
}
@media screen and (min-width: $breakpoint-laptop) {
  .progressBars {
    &:first-child {
      margin-right: 60px;
    }
    &:last-child {
      margin-left: 60px;
    }
  }
}
