@import '../../css/variables.scss';

.heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-bottom: $gutter-desktop;
}
.expertise {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  fill: $sky-darker;
  path {
    stroke: 5px;
  }
}
