@import '../../css/variables.scss';
@import '../../css/keyframes.scss';
@import '../../css/mixin.scss';

.container {
  display: flex;
  align-items: center;
  position: relative;
  height: 450px;
  box-sizing: border-box;
  padding: $padding-section-mobile;
  background: linear-gradient(to bottom right, #91bffc, #000);
}
.image {
  @include nextJSImage();
  object-position: -610px;
  animation: fadein 1.5s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sky;
  text-transform: uppercase;
  font-size: 18px;
  border: solid 2px $sky;
  border-radius: $base-border-radius;
  height: 30px;
  padding: 10px 30px;
  z-index: 1;
  margin: auto;
  transition: background-color 0.4s;
  &:hover {
    background-color: rgba(174, 195, 243, 0.3);
  }
}
@media screen and (min-width: 560px) {
  .image {
    object-position: -400px;
  }
}

@media screen and (min-width: $breakpoint-ipad) {
  .container {
    height: 400px;
    background-position: center center;
  }
  .image {
    object-position: center;
  }
}
