@import '../../css/variables.scss';

.container {
  display: flex;
  flex-flow: column;
  padding: $gutter-desktop;
  box-sizing: border-box;
  width: 30%;
}
.heading {
  display: flex;
}
.textWrapper {
  padding-left: 20px;
  box-sizing: border-box;
}
.title {
  font-weight: $font-weight-medium;
  padding-bottom: 10px;
}
.description {
  font-weight: $font-weight-light;
  line-height: 30px;
}
