@import '../../css/variables.scss';

.container {
  width: 100%;
  line-height: $line-height-paragraph;
}
.top {
  padding: $gutter-desktop 0;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  border-top: $base-border;
  padding: $gutter-desktop 0;
}
.link {
  font-size: $font-size-m;
  color: $neutral;
  text-decoration: underline;
  margin-right: 20px;
}
.copyright {
  width: 100%;
  margin-top: 20px;
  white-space: nowrap;
}

@media screen and (min-width: $breakpoint-ipad) {
  .copyright {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }
}
