@import '../../css/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  min-height: 100vh;
  padding: $padding-section-mobile;
  background-color: $neutral;
}
.whiteContainer {
  background-color: $white;
}
.darkContainer {
  background-color: $night-dark;
  color: $bright-blue-grey;
}
.tallContainer {
  height: auto;
}
.shortContainer {
  min-height: 0;
}
.noPaddingBottomContainer {
  padding-bottom: 0;
}
.inner {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1400px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: $breakpoint-ipad) {
  .container {
    box-sizing: border-box;
    padding: $padding-section-desktop;
  }
  .noPaddingContainer {
    padding: 0;
  }
  .noPaddingBottomContainer {
    padding-bottom: 0;
  }
}
