@import '../../css/variables.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $section-banner-height;
  padding: $padding-section-mobile;
  background-color: $neutral;
}
.whiteContainer {
  background-color: $white;
}
.darkContainer {
  background-color: $night-dark;
  color: $bright-blue-grey;
}
.tallContainer {
  height: auto;
}
.noPaddingContainer {
  padding: 0;
}
.noPaddingBottomContainer {
  padding-bottom: 0;
}
.inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: stretch;
  max-width: 1400px;
}

@media screen and (min-width: $breakpoint-ipad) {
  .container {
    padding: $padding-section-desktop;
  }
  .noPaddingContainer {
    padding: 0;
  }
  .noPaddingBottomContainer {
    padding-bottom: 0;
  }
}
