@import '../../css/variables.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $section-banner-height;
  padding: $padding-section;
  background-color: $neutral;
}
.whiteContainer {
  background-color: $white;
}
.tallContainer {
  height: auto;
}
.noPaddingContainer {
  padding-bottom: 0;
}
.inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1400px;
}
