@import '../../css/variables.scss';
@import '../../css/mixin.scss';
@import '../../css/keyframes.scss';

.container {
  position: relative;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
  &:last-child {
    margin-bottom: 20px;
    .dividor {
      bottom: 10px;
    }
  }
}
.dividor {
  position: absolute;
  width: 1px;
  top: 15px;
  bottom: -15px;
  background-color: $neutral;
  opacity: 0;
  &::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: $sky-darker;
    border-radius: 50%;
    left: -4px;
    top: 0;
  }
}
.animateUp {
  animation: slideUp 1s ease forwards;
}
.animateFromLeft {
  animation: slideFromLeft 1s ease forwards;
}
.animateFromRight {
  animation: slideFromRight 1s ease forwards;
}
.rightSide {
  position: relative;
  box-sizing: border-box;
  opacity: 0;
  margin-left: 25px;
}
.content {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
}
.year {
  box-sizing: border-box;
  color: $sky-dark;
  opacity: 0;
  margin-left: 25px;
  padding: 12px 0;
}
@media screen and (min-width: $breakpoint-ipad) {
  .container {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .year {
    padding: 20px 0;
  }
}
@media screen and (min-width: $breakpoint-laptop) {
  .container {
    flex-flow: row;
  }
  .dividor {
    right: 50%;
  }
  .content {
    &::before {
      position: absolute;
      content: '';
      @include filledArrowLeft($white);
      left: -10px;
      top: 10px;
    }
  }
  .year {
    text-align: right;
    width: 50%;
    padding: 10px 30px;
    font-size: 18px;
  }
  .rightSide {
    width: 50%;
    padding: 0 30px 30px 30px;
  }
}
