@import '../../css/variables.scss';
@import '../../css/keyframes.scss';

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 40px;
}
.backgroundImage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(4px);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.7);
  filter: blur(0);
}
.flexWrapper {
  display: flex;
  flex-direction: column;
}
.content {
  opacity: 0;
  z-index: 1;
  padding: $gutter-mobile;
  margin-bottom: $gutter-mobile;
  box-sizing: border-box;
  min-width: 100vw;
}
.animateContent {
  animation: slideUpFar 1s, fadeIn 1s;
  animation-fill-mode: forwards;
}
.h1 {
  position: relative;
  padding: $gutter-mobile 0;
  color: $neutral;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 200px;
    background-color: $sky-darker;
    bottom: 0;
    left: 0;
  }
}
.h2 {
  display: inline-block;
  font-weight: $font-weight-light;
  color: $neutral;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: $gutter-mobile 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.animateWorkTitle {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
    blinkTextCursor 600ms steps(44) 8 normal;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
.h3 {
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  font-size: $font-size-l;
  display: inline-block;
  padding: 0;
  color: $sky-darker;
}
.imageWrapper {
  visibility: hidden;
  position: relative;
  height: 360px;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: auto;
}
.animateImageWrapper {
  visibility: visible;
  animation: slideFromRightFar 1.2s;
}
.box {
  position: absolute;
  width: 240px;
  height: 300px;
  top: 0;
  right: 0;
  border: solid 12px $sky;
}
.image {
  position: absolute;
}
.imageLoaded {
  background: url('/img/portrait.jpg') no-repeat center center;
  background-size: cover;
  width: 240px;
  height: 300px;
  bottom: 0;
  left: 0;
  border: solid 12px $neutral;
}
@media screen and (min-width: $breakpoint-ipad) {
  .container {
    padding: 120px;
  }
  .flexWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
  }
  .content {
    padding-right: 40px;
    box-sizing: border-box;
    min-width: 400px;
  }
  .h1 {
    padding: $gutter-desktop 0;
  }
  .h2 {
    margin-top: 40px;
  }
  .h3 {
    font-size: $font-size-xl;
  }
}
@media screen and (min-width: $breakpoint-laptop) {
  .content {
    padding-right: 60px;
    min-width: 610px;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .container {
    padding: 160px;
  }
  .flexWrapper {
    max-width: 1400px;
  }

  .imageWrapper {
    height: 515px;
    flex-basis: 420px;
    margin-left: auto;
  }
  .box {
    width: 360px;
    height: 460px;
  }
  .image {
    width: 350px;
    height: 450px;
  }
}
