@import '../../css/variables.scss';

.headerWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: $gutter-mobile 0;
}
.separator {
  height: 2px;
  width: 100px;
  background-color: $sky;
}
@media screen and (min-width: $breakpoint-ipad) {
  .headerWrapper {
    padding: $gutter-desktop 0;
  }
}
